// Layout //

.article--grid {
	background-color: #fff;
	padding-top: $size-8;
    padding-left: $size-8;
    padding-right: $size-8;

	@include mq($from:small) {
		padding-top: $size-12;
	}
}

// Paragraphs and Headers //

.article__title {
	color: $black;
	height: auto;
	line-height: $size-20;
	font-weight: bold;
    font-size: $size-16;

	@include mq($from:small) {
        font-size: $size-20;
        padding-left: $size-0;
        padding-right: $size-6;
        padding-bottom: $size-12;
        padding-top: $size-6;

        .article--first {
            padding-left: $size-0;
        }
    }

	@include mq($from:large) {
		padding-left: $size-6;
	}
}

.article__link {
    text-decoration: none;
    color: $black;

    &:hover {
        text-decoration: underline;
    }
}

.article {
    padding-bottom: $size-16;
	@include clearfix;

	@include mq($from:small) {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding-left: $size-6;
		padding-right: $size-6;

		@include mq($from:medium) {
			width: 33.33%;
			padding-bottom: $size-16;
		}
	}
}

.article__blurb {
	display: none;
	font-size: $size-16;
	color: $text-grey;
	display: none;
	@include clearfix;

	@include mq($from:small) {
        display: inline-block;
     }

	@include mq($from:large) {
		padding-left: $size-6;
	}
}

.article {

    .media {
        width: 42.5%;
        float: left;
        margin-right: $size-4;

		@include mq($from:small) {
			width: auto;
            float: none;
            margin-right: $size-0;
		}
	}
}

.article__body {
    @include clearfix;
}

// First Article Styling //

.article--first {

    .article__blurb {
        display: inline-block;
    }

	.media {
		width: 100%;
		float: none;
	}

	@include mq($from:medium) {
		width: 33.33%;
	}
}
