
.media__image {
    width: 100%;
    padding-right: $size-8;

    @include mq($from:small) {
        padding-right: $size-0;
    }

    @include mq($from:large) {
        padding-left: $size-8;
        padding-right: $size-8;
    }
}

.media__caption {
	color: $green;
	text-align: center;
	font-size: $size-12;
	font-weight: normal;
	display: inline-block;
	text-transform: uppercase;

    @include mq($from:medium) {
        max-width: 100%;
        background-color: $white;
        text-align: right;
        position: absolute;
        top: $size-8;
        left: $size-8;
        padding-left: $size-4;
        padding-right: $size-4;
        padding-top: $size-4;
        padding-bottom: $size-4;

        @include mq($from:large) {
            padding-left: $size-8;
        }
    }
}

.article {

    .media__image {
        display: none;

        @include mq ($from: 225px) {
            display: inline-block;
        }
    }
}
