/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 ============
New Styles
 ============
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}

.row {
    margin-bottom: 0px;
}

/*
	==========
	Body, Headers
	==========
*/
body {
	font-family: Arial, Helvetica, freesans, sans-serif;
	background-color: #B2B2B2;
	max-width: 1008px;
	margin: 0 auto;
}

.site_title {
	background-color: #ffdf43;
	width: 100%;
	position: relative;
	padding-top: 12px;
	padding-left: 12px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	outline-style: none;
}

.site_title h1 {
	color: #000;
	font-size: 40px;
	font-family: 'Gill Sans MT', 'Gill Sans', Calibri, sans-serif;
	padding-left: 6px;
	padding-bottom: 8px;
}

.article_title {
	color: rgb(14, 14, 14);
	height: auto;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
}

/*
	==========
	Images
	==========
*/

.media_image {
	width: 100%;
	padding-left: 6px;
	padding-right: 4px;

}

.article, .article_main {
	padding-bottom: 20px;
}

/*
	==========
	Images Name
	==========
*/
.media_title {
	color: #5e9229;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	display: block;
	text-transform: uppercase;
	padding-left: 6px;

}

/*
	==========
	Layout
	==========
*/

.article_grid {
	background-color: #fff;
	padding-top: 12px;

}

/*
	==========
	Mobile first
	==========
	Paragraph, Headers
	==========
*/

.article_info {
	display: none;
	font-size: 16px;
	color: #767676;
	display: none;
	padding-left: 12px;
	padding-right: 12px;
}

.article {
	padding-bottom: 6px;
}

.article .media_image {
	display: none;
}

.article_body .media_title {
	padding-left: 0px;
}

.article_main {
	width: 100%;
}

.article_main .article_title {
	padding-left: 12px;
}

.article_main .article_info {
	display: inline-block;
}

.media_title {
	padding-left: 12px;
	display:inline-block;
}

.article figure {
	width: 42.5%;
	float: left;
	margin-right: 12px;
}

.article, .article_body, .article_info {
	overflow: hidden;
	_overflow: visible;
	zoom:1;
}

/*
	========
	255px screen +
	========
*/

@media screen and (min-width: 255px) {

.article .media_image {
	display: inline-block;
	}
}
/*
	========
	400px screen +
	========
*/

@media screen and (min-width: 400px) {

  /*
  	==========
  	Paragraph, Headers
  	==========
  */

  .article {
    padding-bottom: 16px;
  }

  .article figure {
    width: auto;
    float: none;
    margin-right: 0px;

  }

  .article, .article_main {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .article_info {
  	display: inline-block;
    padding-left: 6px;
  }

  .article_title {
    font-size: 20px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 12px;
    padding-top: 6px;
  }

  .article_title .article_main {
    padding-left: 6px;
  }

  .media_title {
    max-width: 100%;
    background-color: #fff;
    text-align: right;
    position: absolute;
    top: 0px;
  }

  .article .article_body .media_title {
    padding-left: 12px;
  }
	/*
		=========
		600px screen +
		=========
	*/

@media screen and (min-width: 600px) {

  /*
    ==========
    Paragraph, Headers
    ==========
  */

  .article, .article_main {
    width: 33.33%;

  }
}

	/*
		=========
		1008px screen +
		=========
	*/

@media screen and (min-width: 1008px) {

  /*
    ==========
    Images
    ==========
  */

  .media_image {
    padding-left: 6px;
    padding-right: 6px;
  }
}
