/* New Styles */

$grey: #B2B2B2;
$text-grey: #767676;
$yellow: #ffdf43;
$green: #5e9229;
$white: #fff;
$black: #1c1c1c;
$size-0: 0px;
$size-4: 4px;
$size-8: 8px;
$size-12: 12px;
$size-16: 16px;

$mq-breakpoints: (
    extra-small:  300px,
    small:  400px,
    medium: 600px,
    large:    1008px
) !default;

// New styles //

@import 'mixin';
@import 'mq';
@import 'reset';
@import 'bodyheader';
@import 'article';
@import 'media';
