@charset "UTF-8";
/* New Styles */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin-bottom: 0px; }

body {
  font-family: Arial, Helvetica, freesans, sans-serif;
  background-color: #B2B2B2; }

.wrap {
  max-width: 1008px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }

.site--title {
  background-color: #ffdf43;
  width: 100%;
  position: relative;
  padding-top: 12px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  outline-style: none; }
  .site--title h1 {
    color: #000;
    font-size: 40px;
    font-family: 'Gill Sans MT', 'Gill Sans', Calibri, sans-serif;
    padding-left: 6px;
    padding-bottom: 8px; }

.article--grid {
  background-color: #fff;
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px; }

.article__title {
  color: #1c1c1c;
  height: auto;
  line-height: 20px;
  font-weight: bold;
  font-size: 16px; }
  @media (min-width: 25em) {
    .article__title {
      font-size: 20px;
      padding-left: 0px;
      padding-right: 6px;
      padding-bottom: 12px;
      padding-top: 6px; }
      .article__title .article--first {
        padding-left: 0px; } }

.article__link {
  text-decoration: none;
  color: #1c1c1c; }
  .article__link:hover {
    text-decoration: underline; }

.article {
  padding-bottom: 16px;
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }
  @media (min-width: 25em) {
    .article {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding-left: 6px;
      padding-right: 6px; } }
  @media (min-width: 25em) and (min-width: 37.5em) {
    .article {
      width: 33.33%;
      padding-bottom: 16px; } }

.article__blurb {
  display: none;
  font-size: 16px;
  color: #767676;
  display: none;
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }
  @media (min-width: 25em) {
    .article__blurb {
      display: inline-block; } }

.article .media {
  width: 42.5%;
  float: left;
  margin-right: 4px; }
  @media (min-width: 25em) {
    .article .media {
      width: auto;
      float: none;
      margin-right: 0px; } }

.article__body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

.article--first .article__blurb {
  display: inline-block; }
.article--first .media {
  width: 100%;
  float: none; }
@media (min-width: 37.5em) {
  .article--first {
    width: 33.33%; } }

.media__image {
  width: 100%; }
  @media (min-width: 63em) {
    .media__image {
      padding-left: 6px;
      padding-right: 6px; } }

.media__caption {
  color: #5e9229;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  text-transform: uppercase; }
  @media (min-width: 37.5em) {
    .media__caption {
      max-width: 100%;
      background-color: #fff;
      text-align: right;
      position: absolute;
      top: 0px;
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 4px;
      padding-bottom: 4px; } }

.article {
  padding-bottom: 6px; }
  .article .media__image {
    display: none; }
    @media (min-width: 14.0625em) {
      .article .media__image {
        display: inline-block; } }

/*# sourceMappingURL=main.css.map */
