/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 ============
New Styles
 ============
*/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
					box-sizing: border-box;

}

.row {
    margin-bottom: 0px;
	}

/*
	==========
	Body, Headers
	==========
*/
body {
	font-family: Arial, Helvetica, freesans, sans-serif;
}

.site-title {
	background-color: #ffdf43;
	width: 100%;
	position: relative;
	padding-top: 12px;
	padding-left: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	outline-style: none;
}

h1 {
	color: #000;
	font-size: 40px;
	font-family: 'Gill Sans MT', 'Gill Sans', Calibri, sans-serif;
	padding-left: 15px;
	padding-bottom: 10px;
}

h3 {
	color: rgb(14, 14, 14);
	height: auto;
	line-height: 20px;
	font-weight: bold;
}

/*
	==========
	Images
	==========
*/

.sport-img {
	width: 100%;
}

.article, .first {
	padding-bottom: 20px;
}

/*
	==========
	Images Name
	==========
*/
.name {
	color: #5e9229;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	display: block;
	text-transform: uppercase;
	padding-left: 5px;

}

/*
	==========
	Layout
	==========
*/

.main {
	background-color: #fff;
	padding-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
}
/*
	==========
	Mobile first
	==========
	Paragraph, Headers
	==========
*/

  .info {
    display: none;
    font-size: 16px;
    color: #767676;
    display: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .title {
    font-size: 16px;
  }

  .first .title {
    padding-left: 5px;
  }

  .article {
  	padding-bottom: 5px;
  }

  .article .test .name {
    padding-left: 0px;
  }

  .first {
    width: 100%;
  }

  .first .info, .name {
    display: inline-block;
  }

  .article figure {
    width: 42.5%;
    float: left;
    margin-right: 10px;
  }

  .article, .article .test, .article {
    overflow: hidden;
    _overflow: visible;
    zoom:1;
  }

  /*
  	==========
  	Images
  	==========
  */

  .sport-img {
      padding-left: 0px;
      padding-right: 0px;
  }

  /*
  	==========
  	Layout
  	==========
  */

  .main {
    padding-right: 5px;
    padding-top: 7px;
    padding-left: 5px;
  }

	/*
		========
		400px screen +
		========
	*/

@media screen and (min-width: 400px) {

  /*
  	==========
  	Paragraph, Headers
  	==========
  */

  .article {
    padding-bottom: 20px;
  }

  .article figure {
    width: auto;
    float: none;
    margin-right: 0;

  }

  .article, .first {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .info {
  	display: inline-block;
    padding-left: 10px;
  }

  .title {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .first .title {
    padding-left: 5px;
  }

  .name {
    max-width: 100%;
    background-color: #fff;
    text-align: right;
    position: absolute;
    top: 0px;
  }

  .article .test .name {
    padding-left: 10px;
  }

  /*
  	==========
  	Images
  	==========
  */

  .sport-img {
      padding-left: 0px;
      padding-right: 5px;
  }

  /*
    ==========
    Layout
    ==========
  */

  .main {
    position: center;
    margin-left: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

	/*
		=========
		600px screen +
		=========
	*/

@media screen and (min-width: 600px) {

  /*
    ==========
    Paragraph, Headers
    ==========
  */

  .article, .first {
    width: 33.33%;

  }

  /*
  	==========
  	Images
  	==========
  */

  .sprot-img {
    padding-left: 0px;
    padding-right: 10px;
  }

  /*
    ==========
    Layout
    ==========
  */

  .main {
    position: inherit;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
  }
}

	/*
		=========
		1008px screen +
		=========
	*/

@media screen and (min-width: 1008px) {

  /*
    ==========
    Body
    ==========
  */

  body {
    background-color: #B2B2B2;
    max-width: 1008px;
    margin: 0 auto;
  }
  /*
    ==========
    Images
    ==========
  */

  .sport-img {
    padding-left: 5px;
    padding-right: 5px;
  }

  /*
    ==========
    Layout
    ==========
  */

  .main {
    position: inherit;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 5px;
  }
}
