/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* New Styles */

$grey: #B2B2B2;
$text-grey: #767676;
$yellow: #ffdf43;
$green: #5e9229;
$white: #fff;
$black: #1c1c1c;
$size-0: 0px;
$size-4: 4px;
$size-6: 6px;
$size-8: 8px;
$size-12: 12px;
$size-16: 16px;
$size-20: 20px;

// New styles //

* {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
    margin-bottom: $size-0;
}

// Body, Headers //

body {
    font-family: Arial, Helvetica, freesans, sans-serif;
	background-color: $grey;
	max-width: 1008px;
	margin: 0 auto;
}

.site_title {
	background-color: $yellow;
	width: 100%;
	position: relative;
	padding-top: $size-12;
	padding-left: $size-12;
	padding-bottom: $size-0;
	margin-bottom: $size-0;
	text-transform: uppercase;
	outline-style: none;

    h1 {
    	color: #000;
    	font-size: 40px;
    	font-family: 'Gill Sans MT', 'Gill Sans', Calibri, sans-serif;
    	padding-left: $size-6;
    	padding-bottom: $size-8;
    }
}

.article_title {
	color: $black;
	height: auto;
	line-height: $size-20;
	font-weight: bold;
    font-size: $size-16;
}

// Images //
.media_image {
    width: 100%;
    padding-left: $size-6;
	padding-right: $size-4;
}

.article,
.article_main {
    padding-bottom: $size-20;
}

.media_title {
	color: $green;
	text-align: center;
	font-size: $size-12;
	font-weight: normal;
	display: block;
	text-transform: uppercase;
	padding-left: $size-6;

}

// Layout //

.article_grid {
	background-color: #fff;
	padding-top: $size-12;
}

// Mobile First //
// Paragraphs and Headers //

.article_info {
	display: none;
	font-size: $size-16;
	color: $text-grey;
	display: none;
	padding-left: $size-12;
	padding-right: $size-12;
}

.article {
    padding-bottom: $size-6;

    .media_image {
        display: none;
    }

    figure {
        width: 42.5%;
    	float: left;
    	margin-right: $size-12;
    }
}

.article_body {
    .media_title {
        padding-left: $size-0;
    }
}

.article,
.article_body,
.article_info {
    overflow: hidden;
    _overflow: visible;
    zoom:1;
}


.article_main {
    width: 100%;

    .article_title {
        padding-left: $size-12;
    }

    .article_info {
        display: inline-block;
    }
}

.media_title {
    padding-left: $size-12;
    display: inline-block;
}

// 225px screen //

@media screen and (min-width: 255px) {

    .article {
        .media_image {
    	   display: inline-block;
        }
    }
}

// 400px screen //

@media screen and (min-width: 400px) {

    // Paragraph, Headers //

    .article {
        padding-bottom: $size-16;

        figure {
            width: auto;
            float: none;
            margin-right: $size-0;
        }

        .article_body {
            .media_title {
                padding-left: $size-12;
            }
        }
    }

    .article,
    .article_main {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        position: relative;
    }

    .article_info {
        display: inline-block;
        padding-left: $size-6;
     }

    .article_title {
        font-size: $size-20;
        padding-left: $size-6;
        padding-right: $size-6;
        padding-bottom: $size-12;
        padding-top: $size-6;

        .article_main {
            padding-left: $size-6;
        }
    }

    .media_title {
        max-width: 100%;
        background-color: $white;
        text-align: right;
        position: absolute;
        top: $size-0;
    }
}

// 600px screen + //

@media screen and (min-width: 600px) {

    //Paragraph, Headers //

    .article,
    .article_main {
        width: 33.33%;
    }
}

// 1008px Screen //

@media screen and (min-width: 1008px) {

    // Images //

    .media_image {
        padding-left: $size-6;
        padding-right: $size-6;
    }
}
