
  p {
    display: none;
  }

  .first {
    width: 100%;
  }

  .first p {
    display: inline-block;
  }

  .article figure {
    width: 42.5%;
    float: left;
    margin-right: 10px;

  }

  .article, .article .test, .article {
    overflow: hidden;
    _overflow: visible;
    zoom:1;
  }

@media screen and (min-width: 400px) {

  .article figure {
    width: auto;
    float: none;
    margin-right: 0;

  }

  .article, .first {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }

  p {
  	display: inline-block;
  }
}

@media screen and (min-width: 600px) {
  .article, .first {
    width: 33.33%;
  	padding-right: 10px;
  }
}
